* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 215, 215);
}

input {
    padding: 10px;
    flex: 1;
}

h1 {
    text-align: center;
    flex: 100%;
    margin-bottom: 20px;
}

select {
    padding: 10px;
}

.converter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
}

select,
input {
    margin: 2px;
}